/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define DAVINCI 3
#define GAME    4

/ {
    combos {
        compatible = "zmk,combos";

        combo_capslock {
            bindings = <&caps_word>;
            key-positions = <24>;
        };
    };

    macros {
        git_upgrade_macro: git_upgrade_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp U &kp P &kp G &kp R &kp A &kp D &kp E &kp SPACE &kp RET>;
            label = "GIT_UPGRADE_MACRO";
        };

        git_commit_macro: git_commit_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp SPACE &kp DQT &kp DQT &kp LEFT_ARROW>;
            label = "GIT_COMMIT_MACRO";
        };

        git_push_macro: git_push {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H &kp SPACE>;
            label = "GIT_PUSH";
        };

        git_pull_macro: git_pull_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H &kp SPACE>;
            label = "GIT_PULL_MACRO";
        };

        exit_terminal_macro: exit_terminal_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E &kp X &kp I &kp T &kp SPACE &kp RET>;
            label = "EXIT_TERMINAL_MACRO";
        };

        open_vscode_macro: open_vscode_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_WIN &kp SPACE &kp V &kp I &kp S &kp U &kp A &kp L &kp RET>;
            label = "OPEN_VSCODE_MACRO";
        };

        open_terminal_macro: open_terminal_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_COMMAND &kp SPACE &kp T &kp E &kp R &kp M &kp I &kp N &kp A &kp L>;
            label = "OPEN_TERMINAL_MACRO";
        };

        next_desktop_macro: next_desktop_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp RIGHT>;
            label = "NEXT_DESKTOP_MACRO";
        };

        back_desktop_macro: back_desktop_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp LEFT_ARROW>;
            label = "BACK_DESKTOP_MACRO";
        };

        up_desktop_macro: up_desktop_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp UP_ARROW>;
            label = "UP_DESKTOP_MACRO";
        };

        down_desktop_macro: down_desktop_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL &kp DOWN_ARROW>;
            label = "DOWN_DESKTOP_MACRO";
        };

        start_word_macro: start_word_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp LEFT_ARROW>;
            label = "START_WORD_MACRO";
        };

        end_word_macro: end_word_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp RIGHT_ARROW>;
            label = "END_WORD_MACRO";
        };

        force_quit_mac_macro: force_quit_mac_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_COMMAND &kp Q>;
            label = "FORCE_QUIT_MAC_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E      |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  \   |
            // | CTRL |  A  |  S  |  D      |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C      |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | GUI  |
            //                    | ESC/ALT | LWR | BKSP|   | SPC | RSE  | ENT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y       &kp U  &kp I      &kp O    &kp P     &kp BSLH
&kp LCTRL  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H       &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N       &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp LALT
                         &kp LEFT_WIN  &mo 1  &kp SPACE    &kp DELETE  &mo 2  &kp RET
            >;
        };

        tools_layer {
            // -----------------------------------------------------------------------------------------------------------
            // |  ESC |  1    |  2    |  3    |  4    |  5   |   |  6     |  7   |  8       |  9     |  0      | DEL     |
            // | SPACE| LG(1) | LG(2) | LG(3) | LG(E) | PGUP |   | LFT    | DWN  |  UP      | RGT    | LS(SEMI)| LS(SQT) |
            // | SHFT | LC(Z) | LC(X) | LC(C) | LC(V) | PGDN |   | HOME   | END  | LS(COMMA)| LS(DOT)| LS(FSLH)| DAVINCI |
            //                        | trans | trans | trans|   | LG(SPC)| trans|  LS(RET) |

            bindings = <
&kp ESC    &kp N1               &kp N2               &kp N3             &kp N4               &kp N5       &kp N6      &kp N7        &kp N8               &kp N9       &kp N0        &kp DEL
&kp SPACE  &back_desktop_macro  &down_desktop_macro  &up_desktop_macro  &next_desktop_macro  &kp PG_UP    &kp LEFT    &kp UP_ARROW  &kp DOWN_ARROW       &kp RIGHT    &kp LS(SEMI)  &kp LS(SQT)
&kp LSHFT  &kp LC(Z)            &kp K_CUT            &kp K_COPY         &kp K_PASTE          &kp PG_DN    &kp HOME    &kp END       &kp LS(PRINTSCREEN)  &kp LS(DOT)  &kp LS(FSLH)  &to 3
                                                     &trans             &trans               &trans       &kp DELETE  &trans        &kp LS(RET)
            >;
        };

        raise_layer {
            // ---------------------------------------------------------------------------------------------
            // |  ESC  |  !      |  @  |  #  |  $    |   %    |    |  ^  |  &  |  *  |  (  |  )  | |       |
            // |  LCAPS|         |     |  `  |  ~    | VOL_UP |    |  +  |  -  |  :  |  [  |  ]  | PS      |
            // |       |LC(LS(Z))|     |  ^  |       | VOL_DN |    |  _  |  =  |  ?  |  {  |  }  | TO GAME |
            //                         |     |       | LC(SPC)|    |     |     |     |

            bindings = <
&kp TAB           &kp EXCL               &kp AT           &kp HASH   &kp DLLR      &kp PRCNT       &kp CARET   &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp PIPE
&kp LEFT_CONTROL  &start_word_macro      &end_word_macro  &kp GRAVE  &kp C_VOL_DN  &kp C_VOL_UP    &kp PLUS    &kp MINUS  &kp COLON        &kp LBKT  &kp RBKT  &kp GRAVE
&kp LEFT_SHIFT    &force_quit_mac_macro  &trans           &kp CARET  &to 5         &tog 4          &kp UNDER   &kp EQUAL  &kp QMARK        &kp LBRC  &kp RBRC  &kp TILDE
                                                          &trans     &trans        &kp SPACE       &kp DELETE  &trans     &trans
            >;
        };

        adjust_layer {
            // ---------------------------------------------------------------------------------------------------------
            // |  ESC   |  F1 |  F2      | F3        |  F4     |   F5   |    | F6   |  F7  |  F8  |  F9  | F10  | F11  | 
            // |  PS    |LC(S)| LC {     | LC }      | LC \    | VOL_UP |    | DEL  |      |      |      |      | F12  |
            // |        |LEFT | LS(LEFT) | LS(RIGHT) | RIGHT   | VOL_DN |    |LC(Z) |      |      |      |      | TO(1)|
            //                           | LALT      | SPACE   |        |    |LC(C) |LC(X) |LC(V) | 

            bindings = <
&kp TAB           &kp F1  &kp F2   &kp F3      &kp F4     &kp F5           &kp F6             &kp F7     &kp F8     &kp F9                &kp F10               &kp F11
&kp LEFT_CONTROL  &kp F6  &kp F7   &kp F8      &kp F9     &kp F10          &kp C_VOLUME_DOWN  &kp MINUS  &trans     &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_DEC  &kp F12
&kp LEFT_SHIFT    &trans  &kp F12  &kp LA(F4)  &to 6      &to 4            &kp K_MUTE         &kp EQUAL  &trans     &trans                &kp C_RESET           &to 0
                                   &kp LALT    &kp SPACE  &kp BACKSPACE    &kp SPACE          &none      &kp ENTER
            >;
        };

        programmer_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans           &git_push_macro    &git_upgrade_macro  &trans     &trans  &trans  &open_vscode_macro
&trans  &trans  &trans  &trans  &trans  &trans           &git_pull_macro    &trans              &trans     &trans  &trans  &open_terminal_macro
&trans  &trans  &trans  &trans  &trans  &trans           &git_commit_macro  &trans              &trans     &trans  &trans  &trans
                        &to 0   &trans  &kp BACKSPACE    &trans             &trans              &kp ENTER
            >;
        };

        game_layer {
            // -------------------------------------------------------------------------------------------------
            // |  ESC     |  Q  |  W  |  E      |  R    |  T  |   |  *  |  7   |  8  |  9  |  +  |  F11        |
            // | CTRL/TAB |  A  |  S  |  D      |  F    |  G  |   |  /  |  4   |  5  |  6  |  -  |  ENT        |
            // | SHFT     |  Z  |  X  |  C      |  V    |  B  |   |  .  |  1   |  2  |  3  |  ,  |  TO DEFAULT |
            //                        |  ALT    |  LGUI | SPC |   | BCPC|  =   |  0  |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y     &kp U       &kp I      &kp O       &kp P          &kp F11
&kp LEFT_CONTROL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H     &kp J       &kp K      &kp L       &kp SEMICOLON  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N     &kp M       &kp COMMA  &kp PERIOD  &kp SLASH      &to 0
                                &kp LALT  &mo 7  &kp SPACE    &kp BSPC  &mt LWIN G  &kp ENTER
            >;
        };

        sub_layer_gamer_2 {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
