/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define DAVINCI 3
#define GAME    4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E      |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  \   |
            // | CTRL |  A  |  S  |  D      |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C      |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | GUI  |
            //                    | ESC/ALT | LWR | BKSP|   | SPC | RSE  | ENT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E    &kp R      &kp T            &kp Y      &kp U      &kp I      &kp O    &kp P     &kp BSLH
&kp LCTRL  &kp A  &kp S  &kp D    &kp F      &kp G            &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C    &kp V      &kp B            &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp LGUI
                         &kp ESC  &mo LOWER  &kp BACKSPACE    &kp SPACE  &mo RAISE  &kp RET
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------------------------
            // |  ESC |  1    |  2    |  3    |  4    |  5   |   |  6     |  7   |  8       |  9     |  0      | DEL     |
            // | SPACE| LG(1) | LG(2) | LG(3) | LG(E) | PGUP |   | LFT    | DWN  |  UP      | RGT    | LS(SEMI)| LS(SQT) |
            // | SHFT | LC(Z) | LC(X) | LC(C) | LC(V) | PGDN |   | HOME   | END  | LS(COMMA)| LS(DOT)| LS(FSLH)| DAVINCI |
            //                        | trans | trans | trans|   | LG(SPC)| trans|  LS(RET) |

            bindings = <
&kp ESC    &kp N1      &kp N2      &kp N3      &kp N4     &kp N5       &kp N6    &kp N7        &kp N8          &kp N9       &kp N0        &kp DEL
&kp SPACE  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &kp LG(E)  &kp PG_UP    &kp LEFT  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT    &kp LS(SEMI)  &kp LS(SQT)
&kp LSHFT  &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp LC(V)  &kp PG_DN    &kp HOME  &kp END       &kp LS(COMMA)   &kp LS(DOT)  &kp LS(FSLH)  &to DAVINCI
                                   &trans      &trans     &trans       &trans    &trans        &kp LS(RET)
            >;
        };

        raise_layer {
            // ---------------------------------------------------------------------------------------------
            // |  ESC  |  !      |  @  |  #  |  $    |   %    |    |  ^  |  &  |  *  |  (  |  )  | |       |
            // |  LCAPS|         |     |  `  |  ~    | VOL_UP |    |  +  |  -  |  :  |  [  |  ]  | PS      |
            // |       |LC(LS(Z))|     |  ^  |       | VOL_DN |    |  _  |  =  |  ?  |  {  |  }  | TO GAME |
            //                         |     |       | LC(SPC)|    |     |     |     |

            bindings = <
&kp TAB           &kp EXCL       &kp AT  &kp HASH   &kp DLLR   &kp PRCNT       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp PIPE
&kp LEFT_CONTROL  &trans         &trans  &kp GRAVE  &kp TILDE  &kp C_VOL_UP    &kp PLUS   &kp MINUS  &kp COLON        &kp LBKT  &kp RBKT  &kp PSCRN
&kp LEFT_SHIFT    &kp LC(LS(Z))  &trans  &kp CARET  &trans     &kp C_VOL_DN    &kp UNDER  &kp EQUAL  &kp QMARK        &kp LBRC  &kp RBRC  &to GAME
                                         &trans     &trans     &kp DEL         &trans     &trans     &trans
            >;
        };

        adjust_layer {
            // ---------------------------------------------------------------------------------------------------------
            // |  ESC   |  F1 |  F2      | F3        |  F4     |   F5   |    | F6   |  F7  |  F8  |  F9  | F10  | F11  | 
            // |  PS    |LC(S)| LC {     | LC }      | LC \    | VOL_UP |    | DEL  |      |      |      |      | F12  |
            // |        |LEFT | LS(LEFT) | LS(RIGHT) | RIGHT   | VOL_DN |    |LC(Z) |      |      |      |      | TO(1)|
            //                           | LALT      | SPACE   |        |    |LC(C) |LC(X) |LC(V) | 

            bindings = <
&kp TAB           &kp F1   &kp F2   &kp F3      &kp F4     &kp F5           &kp C_VOLUME_UP    &kp C_BACKLIGHT_TOGGLE  &kp F8     &kp F9                &kp C_BRI_UP          &kp F11
&kp LEFT_CONTROL  &kp F6   &kp F7   &kp F8      &kp F9     &kp F10          &kp C_VOLUME_DOWN  &kp MINUS               &trans     &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_DEC  &kp F12
&kp LEFT_SHIFT    &kp F11  &kp F12  &kp LA(F4)  &none      &tog 4           &kp K_MUTE         &kp EQUAL               &trans     &trans                &kp C_RESET           &to DEFAULT
                                    &kp LALT    &kp SPACE  &kp BACKSPACE    &kp SPACE          &none                   &kp ENTER
            >;
        };

        game_layer {
            // -------------------------------------------------------------------------------------------------
            // |  ESC     |  Q  |  W  |  E      |  R    |  T  |   |  *  |  7   |  8  |  9  |  +  |  F11        |
            // | CTRL/TAB |  A  |  S  |  D      |  F    |  G  |   |  /  |  4   |  5  |  6  |  -  |  ENT        |
            // | SHFT     |  Z  |  X  |  C      |  V    |  B  |   |  .  |  1   |  2  |  3  |  ,  |  TO DEFAULT |
            //                        |  ALT    |  LGUI | SPC |   | BCPC|  =   |  0  |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R          &kp T        &kp Y     &kp U       &kp I      &kp O       &kp P          &kp F11
&kp LEFT_CONTROL  &kp A  &kp S  &kp D     &kp F          &kp G        &kp H     &kp J       &kp K      &kp L       &kp SEMICOLON  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C     &kp V          &kp B        &kp N     &kp M       &kp COMMA  &kp PERIOD  &kp SLASH      &to 0
                                &kp LALT  &kp RIGHT_ALT  &kp SPACE    &kp BSPC  &mt LWIN G  &kp ENTER
            >;
        };
    };
};
